.bg-container {
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digi-heading {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: bold;
  width: 70%;
}

.timer-body {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  min-height: 30vh;
  width: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-display-card {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: 'Roboto';
  color: #00d9f5;
  font-weight: bold;
}

.time-status {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: bold;
}

.time-control-body {
  width: 50%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-stop-card {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-stop-button {
  height: 30px;
  width: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.start-stop-image {
  height: 95%;
  width: 98%;
}

.start-stop-status {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 700;
}

.reset-card {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
  height: 30px;
  width: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.reset-image {
  height: 95%;
  width: 98%;
}

.reset-para {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 700;
}

.timer-limits-set-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-limit-para {
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.timer-set-buttons-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.set-timer-value {
  width: 60px;
  height: 30px;
  background-image: linear-gradient(to right, #43f74c, #00d9f5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 600;
  border-radius: 5px;
}

.decrement-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

@media (max-width: 767px) {
  .digi-heading {
    font-size: 30px;
    text-align: center;
  }

  .timer-body {
    flex-direction: column;
  }

  .timer-card {
    min-height: 35vh;
    width: 80%;
  }

  .time {
    font-size: 15px;
  }

  .time-status {
    font-size: 12px;
  }

  .time-control-body {
    width: 80%;
  }

  .controls-card {
    width: 98%;
  }

  .start-stop-card {
    width: 40%;
  }

  .start-stop-button {
    height: 45px;
    width: 50px;
  }

  .start-stop-status {
    font-size: 12px;
  }

  .reset-card {
    width: 40%;
  }

  .reset-button {
    height: 45px;
    width: 50px;
  }
  .reset-para {
    font-size: 12px;
  }

  .timer-limits-set-card {
    width: 80%;
  }

  .timer-limit-para {
    font-size: 12px;
  }

  .timer-set-buttons-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .increment-button {
    height: 25px;
    width: 25px;
    font-size: 15px;
  }

  .set-timer-value {
    font-size: 18px;
  }

  .decrement-button {
    height: 25px;
    width: 25px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .digi-heading {
    font-size: 50px;
  }

  .time {
    font-size: 35px;
  }

  .time-status {
    font-size: 22px;
  }

  .start-stop-status {
    font-size: 22px;
  }

  .reset-para {
    font-size: 22px;
  }

  .timer-limit-para {
    font-size: 20px;
  }

  .increment-button {
    font-size: 18px;
  }

  .set-timer-value {
    font-size: 20px;
  }

  .decrement-button {
    font-size: 18px;
  }
}
